@keyframes flip-x-in {
	from {
        transform: rotateX(90deg);
    }
    to {
        transform: none;
    }
}
@keyframes flip-x-out {
	from {
        transform: none;
    }
    to {
        transform: rotateX(90deg);
    }
}
@keyframes flip-y-in {
	from {
        transform: rotateY(90deg);
    }
    to {
        transform: none;
    }
}
@keyframes flip-y-out {
	from {
        transform: none;
    }
    to {
        transform: rotateY(90deg);
    }
}

%flip {
    will-change: transform;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: $animation-duration-flip;
}

%flip-top {
    @extend %flip;
    transform-origin: top;
}

%flip-bottom {
    @extend %flip;
    transform-origin: bottom;
}

%flip-left {
    transform-origin: left;
}

%flip-right {
    transform-origin: right;
}

.flip {
    &-top {
        &-in {
            @extend %flip-top;
            animation-name: flip-x-in;
        }
        &-out {
            @extend %flip-top;
            animation-name: flip-x-out;
        }
    }
    
    &-bottom {
        &-in {
            @extend %flip-bottom;
            animation-name: flip-x-in;
        }
        &-out {
            @extend %flip-bottom;
            animation-name: flip-x-out;
        }
    }
    
    &-left {
        &-in {
            @extend %flip-left;
            animation-name: flip-y-in;
        }
        &-out {
            @extend %flip-left;
            animation-name: flip-y-out;
        }
    }
    
    &-right {
        &-in {
            @extend %flip-right;
            animation-name: flip-y-in;
        }
        &-out {
            @extend %flip-right;
            animation-name: flip-y-out;
        }
    }
}