@keyframes zoom-in {
	from { 
        transform: scale(0);
    }
	to { 
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom-in-radial {
	from { 
        transform: scale(0);
        border-radius: 100%;
    }
	to { 
        transform: scale(1);
        border-radius: 0;
        opacity: 1;
    }
}

@keyframes zoom-out {
	from { 
        transform: scale(1);
    }
	to { 
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes zoom-out-radial {
	from { 
        transform: scale(1);
        border-radius:100%;
    }
	to { 
        transform: scale(0);
        opacity: 0;
        border-radius:0;
    }
}

%zoom {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: $animation-duration-zoom;
}

%zoom-in {
    @extend %zoom;
    opacity: 0;
    will-change: transform, opacity;
}

%zoom-in-radial {
    @extend %zoom-in;
    will-change: transform, opacity, border-radius;
    border-radius:100%;
}

%zoom-out {
    will-change: transform, opacity;
    opacity: 1;
}

%zoom-out-radial {
    @extend %zoom-out;
    will-change: transform, opacity, border-radius;
}

.zoom {
    &-in {
        @extend %zoom-in;
        animation-name: zoom-in;

        &-radial {
            @extend %zoom-in-radial;
            animation-name: zoom-in-radial;
        }
    }
    &-out {
        @extend %zoom-out;                
        animation-name: zoom-out;

        &-radial {
            @extend %zoom-out-radial;
            animation-name: zoom-out-radial;
        }
    }
}