body{
  background-color: #42A2CE;
  color: white;
}

.brand{
  font-family: "Pacifico", cursive;
  font-size: 3em;
  text-align: center;
}

.container{
  margin: 1em auto;
  width: 250px;
}

.rounded-rectangle{
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: white;
}

select{
  width: 100%;
}

#select-group{
  width: 250px;
  position: absolute;
}